<!-- TODO: Add times component -->
<div class="container">
  <div class="row">
    <p class="col">Current Time: {{ currentTime }}</p>
  </div>
  <div class="row">
    <div class="col"><input placeholder="Ticket #" /></div>
    <button>Add Time Entry at Current Time</button>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <!-- TODO: Date -->
  <div class="col-sm-4">Start Time<timepicker></timepicker></div>
  <div class="col-sm-4">End Time<timepicker></timepicker></div>
  <button style="margin-right: 5px;" class="btn-primary">Submit</button> <button class="btn-secondary">Clear</button>
  <div class="row">
    <div class="col"></div>
    <button class="col">Clear Ticket Cache</button>
  </div>
</div>

<!-- TODO: Add time-list component -->
